Ecclesiastes3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Ecclesiastes3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Ecclesiastes3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Ecclesiastes3/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Ecclesiastes3/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Ecclesiastes3/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Ecclesiastes3/obj/Debug/App.g.cs
Ecclesiastes3/obj/Debug/App.g.i.cs
Ecclesiastes3/obj/Debug/CountdownDisplayWindow.baml
Ecclesiastes3/obj/Debug/CountdownDisplayWindow.g.cs
Ecclesiastes3/obj/Debug/CountdownDisplayWindow.g.i.cs
Ecclesiastes3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ecclesiastes3/obj/Debug/Ecclesiastes3.csproj.FileListAbsolute.txt
Ecclesiastes3/obj/Debug/Ecclesiastes3.csproj.GenerateResource.Cache
Ecclesiastes3/obj/Debug/Ecclesiastes3.csprojResolveAssemblyReference.cache
Ecclesiastes3/obj/Debug/Ecclesiastes3.exe
Ecclesiastes3/obj/Debug/Ecclesiastes3.g.resources
Ecclesiastes3/obj/Debug/Ecclesiastes3.pdb
Ecclesiastes3/obj/Debug/Ecclesiastes3.Properties.Resources.resources
Ecclesiastes3/obj/Debug/Ecclesiastes3_Content.g.i.cs
Ecclesiastes3/obj/Debug/Ecclesiastes3_MarkupCompile.cache
Ecclesiastes3/obj/Debug/Ecclesiastes3_MarkupCompile.i.cache
Ecclesiastes3/obj/Debug/MainWindow.baml
Ecclesiastes3/obj/Debug/MainWindow.g.cs
Ecclesiastes3/obj/Debug/MainWindow.g.i.cs
Ecclesiastes3/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Ecclesiastes3/obj/Release/App.g.cs
Ecclesiastes3/obj/Release/App.g.i.cs
Ecclesiastes3/obj/Release/CountdownDisplayWindow.baml
Ecclesiastes3/obj/Release/CountdownDisplayWindow.g.cs
Ecclesiastes3/obj/Release/CountdownDisplayWindow.g.i.cs
Ecclesiastes3/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Ecclesiastes3/obj/Release/Ecclesiastes3.csproj.FileListAbsolute.txt
Ecclesiastes3/obj/Release/Ecclesiastes3.csproj.GenerateResource.Cache
Ecclesiastes3/obj/Release/Ecclesiastes3.csprojResolveAssemblyReference.cache
Ecclesiastes3/obj/Release/Ecclesiastes3.exe
Ecclesiastes3/obj/Release/Ecclesiastes3.g.resources
Ecclesiastes3/obj/Release/Ecclesiastes3.pdb
Ecclesiastes3/obj/Release/Ecclesiastes3.Properties.Resources.resources
Ecclesiastes3/obj/Release/Ecclesiastes3_MarkupCompile.cache
Ecclesiastes3/obj/Release/Ecclesiastes3_MarkupCompile.i.cache
Ecclesiastes3/obj/Release/MainWindow.baml
Ecclesiastes3/obj/Release/MainWindow.g.cs
Ecclesiastes3/obj/Release/MainWindow.g.i.cs
Ecclesiastes3/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Ecclesiastes3/bin/Release/Ecclesiastes3.exe.removeme
/Ecclesiastes3.v12.suo
